body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #000;
    background-color: black;
    letter-spacing: -.2px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}